
// list

.list-alvinesa, %list-alvinesa {
  li {
    position: relative;
    line-height: 20px;
    padding: 4px 0 4px 20px;
    color: $text-color-light;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      left: 1px;
      width: 4px;
      height: 4px;
      margin-right: 15px;
      border-radius: 50%;
      background: $text-color-light;
    }
  }
}