
.page-footer {
  font-size: 16px;
  font-family: $font-family-Raleway-Light;
  line-height: 1.3;
  text-align: center;

  a {
    text-decoration: underline;
    color: $color-white;

    &:hover {
      text-decoration: none;
      color: $color-white;
    }
  }

  .title {
    margin: 0 0 25px;
    font-size: 16px;
    font-family: $font-family-Raleway-Bold;
  }

  li {
    padding: 0 0 14px;

    &:last-of-type {
      padding: 0;
    }
  }

  p {
    margin: 0 0 20px;
  }

  .hr {
    margin: 40px 0;
  }

  @media #{$min-w-sm} {
    text-align: left;

    .hr {
      margin: 0;
    }
  }
}

.logo-footer {
  position: relative;
  padding: 75px 0 65px;
  overflow: hidden;

  .hr {
    width: 50%;
    margin: 0;

    &.pull-left {
      margin-left: -27px;
    }

    &.pull-right {
      margin-right: -27px;
    }
  }

  img {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 66px;
    margin-left: -33px;
    z-index: 2;
    background: $color-header-bg;
  }

  @media #{$min-w-sm} {
    padding: 100px 0 80px;

    .hr {
      &.pull-left {
        margin-left: -60px;
      }

      &.pull-right {
        margin-right: -60px;
      }
    }

    img {
      top: 50px;
      width: 88px;
      margin-left: -44px;
    }
  }
}

.form-send {
  .btn-alvinesa {
    width: 100%;
    height: 50px;
    margin-bottom: 0;

    @media #{$min-w-sm} {
      width: 150px;
      margin-bottom: 30px;
    }
  }

  [type="email"] {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    margin-bottom: 10px;
    border: none;
    color: $text-color;
    background: $color-white;
  }
}

.contacts {
  font-size: 14px;

  .title {
    margin: 0 0 27px;
  }
}

.privacy-links {
  margin: 0 0 40px;
  font-size: 12px;

  a {
    display: inline-block;
    margin: 7px 30px 7px 0;

    &:last-of-type {
      margin-right: 0;
    }
  }
}