
.header-page {
  .hr {
    margin: 30px 0 0;
  }
}

.logo-header {
  display: inline-block;
  margin: 25px 0 10px;
  text-align: center;

  img {
    height: 100px;
  }

  @media #{$min-w-sm} {
    margin: 25px 0;
    text-align: left;

    img {
      height: auto;
    }
  }
}

.localisation {
  display: inline-block;
  margin: 25px 0 65px;
  font-family: $font-family-Raleway-Light;

  a {
    &, &:hover {
      color: $color-white;
    }
  }

  @media #{$max-w-sm} {
    font-size: 14px;
  }

  @media (min-width: $screen-md) and (max-width: 1200px) {
    margin-bottom: 40px;
  }
  @media (min-width: $screen-sm) and (max-width: $screen-md) {
    margin-bottom: 15px;
  }
}

.menu-global-wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  min-height: 100vh;

  &.menu-visible {
    display: block;
    background: $color-header-bg;

    .menu-global-bg {
      display: block;

      @media #{$min-w-sm} {
        display: none;
      }
    }
  }

  @media #{$min-w-sm} {
    display: block;
    position: relative;
    margin: 0 0 20px;
    width: auto;
    min-height: 0;
    border-bottom: 1px solid $color-nav-underline;
  }
}

.menu-global-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  width: 100%;
  height: 100%;
  background: $color-header-bg;
}

.menu-global {
  position: relative;
  z-index: 20;
  margin-bottom: 5px;
  padding: 0 15px;
  text-align: center;
  list-style: none;
  cursor: pointer;

  a {
    display: block;
    padding: 14px 5px;
    border-bottom: 1px solid $color-menu-item-border;
    text-align: center;
    font-family: $font-family-Raleway-Light;
    font-size: 18px;
    color: $color-white;

    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      font-size: 16px;
    }

    &.active {
      border-bottom: 2px solid $color-white;
      color: $color-menu-hover;
    }
  }

  li {
    &:last-of-type {
      a {
        border: none;
      }
    }
  }

  .inner-ul {
    display: none;
    background: $color-menu-active-bg;
  }

  .caret {
    float: right;
    margin-top: 13px;
  }

  .inner {
    @media #{$max-w-sm} {
      &.open {
        margin: -2px -15px 0;
        background: $color-menu-active-bg;

        & > a {
          margin: 0 15px;
        }

        .inner-ul {
          display: block;
          padding: 0 15px;
        }

        .caret {
          border-bottom: 4px solid;
          border-top: none;
        }
      }
    }
  }

  @media #{$min-w-sm} {
    padding: 0;

    .caret {
      display: none;
    }

    a {
      display: inline-block;
      //font-size: 16px;

      &, &:hover {
        color: $color-white;
      }

      &.active {
        border-bottom: none;
      }
    }

    & > li {
      display: inline-block;
      padding: 0;
      &:last-of-type {
        a {
          padding-right: 0;
        }
      }
      &:first-of-type {
        a {
          padding-left: 0;
        }
      }

      a {
        padding: 0 5px;
        border: none;
        font-family: $font-family-Raleway-Bold;

        @media #{$min-w-lg} {
          padding: 0 15px;
        }

        &:hover {
          span {
            border-bottom: 2px solid $color-white;
          }
        }

        &.active {
          color: $color-menu-hover;

          span {
            border-bottom: 2px solid $color-menu-hover;
          }
        }
      }

      span {
        padding: 6px 0;
      }
    }

    .inner {
      position: relative;

      & > a {
        span {
          position: relative;
          &::after {
            content: '';
            display: block;
            position: absolute;
            z-index: 15;
            bottom: -12px;
            left: 50%;
            margin-left: -5px;
            border: 5px solid transparent;
            border-top-color: $color-white;
          }
        }

        .active {
          span {
            &::after {
              border-top-color: $color-menu-hover;
            }
          }
        }
      }

      &:hover {
        .inner-ul {
          display: block;
        }
      }
    }

    .inner-ul {
      display: none;
      position: absolute;
      top: 28px;
      left: 50%;
      margin-left: -125px;
      z-index: 12;
      width: 250px;
      padding: 32px 0 0;
      background: $color-header-bg;

      a {
        display: block;
        padding: 15px 15px 12px;
        border-bottom: 1px solid $color-menu-item-border;
        font-family: $font-family-Raleway-Light;
        color: $color-white;

        &:hover {
          color: $color-menu-hover;
        }
      }
    }
  }

  @media (min-width: $screen-md) and (max-width: 1200px) {
    a {
      font-size: 16px;
    }
  }
  @media (min-width: $screen-sm) and (max-width: $screen-md) {
    a {
      font-size: 13px;
    }
  }
}

.notTop {
  @media #{$min-w-sm} {
    padding-top: 75px;

    .header-page {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 50;
    }

    .logo-header {
      width: 80px;
      padding: 0;
      margin: 15px 0; //15px 0

      img {
        width: 80px;
        height: 42px;
        //width: 85px;
        //height: 46px;
        object-fit: cover;
        object-position: 0 0;
      }
    }

    .localisation {
      margin-bottom: 0;
      padding-left: 0;

      @media (min-width: $screen-sm) and (max-width: $screen-md) {
        margin: 5px 0;
        font-size: 13px;
      }
    }

    .menu-global {
      & > li {
        a {
          font-size: 16px;
          font-family: $font-family-Raleway-Light;

          @media (min-width: $screen-sm) and (max-width: $screen-md) {
            font-size: 13px;
          }
        }
      }
    }
  }

  @media #{$min-w-md} {
    .localisation {
      a {
        display: block;
        padding-bottom: 5px;
        border-bottom: 1px solid $color-nav-underline;
      }
    }

    .menu-global-block {
      float: right;
      width: 75%;
      margin-top: 25px;
      padding-right: 0;
    }
  }

  @media (min-width: $screen-sm) and (max-width: $screen-md) {
    .menu-global-block {
      float: right;
    }
  }
}

.gecko {
  .menu-global {
    @media #{$min-w-sm} {
      .inner-ul {
        top: 29px;
      }
    }
  }
}

.menu-global-close-wrap {
  width: 100%;
  height: 90px;

  @media #{$min-w-sm} {
    display: none;
  }
}

.menu-global-open,
.menu-global-close {
  position: absolute;
  z-index: 20;
  margin: 24px 0 0;
  background: url("#{$path-img}spritesheet.png") no-repeat;
  cursor: pointer;

  @media #{$min-w-sm} {
    display: none;
  }
}

.menu-global-open {
  width: 31px;
  height: 23px;
  background-position: -152px 0;
}

.menu-global-close {
  width: 23px;
  height: 23px;
  margin-left: 15px;
  background-position: -120px 0;
}

