
a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: 0;
  }

  cursor: pointer;
}

img {
  max-width: 100%;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.hr { // horizontal line for footer
  width: 100%;
  height: 2px;
  background: #2E2844;
}

.br { // replacement <br> tag
  @media #{$min-w-sm} {
    &::before {
      content: '\A';
      white-space: pre;
    }
  }
}

.col-sm-9-4 {
  @media #{$min-w-sm} {
    width: 44.5%;
  }
}

.col-sm-9-5 {
  @media #{$min-w-sm} {
    width: 55.5%;
  }
}

.col-sm-9-4,
.col-sm-9-5 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
