
.inner-bg-img {
  .content {
    position: relative;
    z-index: 1;
  }

  h2 {
    font-size: 22px;

    &::before {
      content: none;
    }
  }

  h4 {
    font-size: 16px;
    line-height: 1.4;
  }

  &.withImg {
    h2, h4 {
      color: $color-white;
    }
  }

  @media #{$min-w-sm} {
    h2 {
      margin-bottom: 35px;
      font-size: 40px;
      line-height: 1.2;
    }

    h4 {
      font-size: 22px;
      line-height: 1.2;
    }
  }
}

.about-technology-inner {
  h1 {
    margin-bottom: 40px;
  }

  h2 {
    padding: 60px 0 0;
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 40px;
    color: $text-color-light;
  }

  @media #{$min-w-sm} {
    h1 {
      padding-top: 55px;
      margin-bottom: 60px;
    }

    h2 {
      margin-bottom: 60px;
      font-size: 30px;
    }
  }
}

.about-inner-block-0 {
  .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 0 10px;
    background: url("#{$path-img}spritesheet.png") no-repeat;
  }

  .icon-1 {
    margin-left: 2px;
    background-position: 0 0;
  }
  .icon-2 {
    margin-left: 5px;
    background-position: -30px 0;
  }
  .icon-3 {
    background-position: -60px 0;
  }
  .icon-4 {
    margin-left: 1px;
    background-position: -90px 0;
  }

  @media #{$min-w-sm} {
    margin-bottom: 55px;
  }
}

.about-inner-block-1 {
  .img-wrapper {
    margin-bottom: 15px;
  }

  img {
    width: 290px;
    height: 150px;
    object-fit: cover;

    @media #{$min-w-sm} {
      height: 135px;
      width: 100%;
    }
  }
}

.industry-news {
  &.inner-page-news {
    img {
      max-width: 400px;

      @media #{$min-w-sm} {
        height: 230px;
      }
    }

    .col-sm-9-4 {
      float: none;

      @media #{$min-w-sm} {
        float: right;
      }
    }

    @media #{$min-w-sm} {
      .news-items {
        margin-bottom: 80px;
      }
    }
  }
}

// collapse-link/tab-content

.panel {
  box-shadow: none;
  border-radius: 0;
  border: none;
}

.collapse-link {
  display: block;
  margin-bottom: 30px;
  font-size: 16px;
  font-family: $font-family-Raleway-Bold;
  padding: 4px 10px 4px  0;
  border-bottom: 1px solid #dadada;

  &, &:hover, &:focus {
    color: $color-link-hover;
  }

  span {
    padding: 5px 0;
    border-bottom: 2px solid $color-link-hover;
  }

  &.collapsed {
    margin-bottom: 15px;

    &, &:hover, &:focus {
      color: $text-color;

      .caret {
        margin-top: 9px;
        border-top-color: $text-color;
        border-bottom: transparent;
      }
    }

    span {
      border: none;
    }
  }

  .caret {
    float: right;
    margin-top: 3px;
    border-width: 6px;
    border-top-color: transparent;
    border-bottom: 6px solid $color-link-hover;
  }
}

.tab-content {
  .collapse-link {
    @media #{$min-w-sm} {
      display: none;
    }
  }
}

.tab-links {
  display: none;
  width: 100%;
  margin-bottom: 60px;
  border-bottom: 1px solid #dadada;
  font-family: $font-family-Raleway-Bold;

  @media #{$min-w-sm} {
    display: block;
  }

  & > li {
    padding: 0;

    &.active {
      a {
        color: $color-link-hover;
      }

      span {
        color: $color-link-hover;
        border-bottom: 2px solid $color-link-hover;
      }
    }
  }

  a {
    display: inline-block;
    margin-right: 15px;
    padding: 5px 0;
    color: $text-color;

    &:hover {
      span {
        color: $color-link-hover;
        border-bottom: 2px solid $color-link-hover;
      }
    }
  }

  span {
    padding: 6px 0;
  }
}

// !collapse-link/tab-content

// aside

.inner-baners {
  margin: 65px 0 60px;
  padding-top: 35px;
  font-size: 16px;

  .list-alvinesa {
    margin: 20px 0;
  }

  .btn-alvinesa {
    margin-bottom: 5px;
    font-size: 14px;
    font-family: $font-family-Raleway-Bold;
  }

  @media #{$min-w-sm} {
    margin: 0;
  }
}

.violet-banner {
  margin-bottom: 30px;
  padding: 25px 20px;
  background: $color-header-bg;
  color: #fff;

  li {
    color: #fff;

    &::before {
      background: #fff;
    }
  }
}

.white-banner {
  padding: 25px 20px;
  color: $text-color-light;

  p {
    margin: 0 -20px 10px;
  }

  .btn-alvinesa {
    color: $color-header-bg;
    border-color: $color-header-bg;
    &:hover {
      color: $color-link-hover;
      border: 2px solid $color-link-hover;
    }
  }
}

// !aside