
// main layouts

body {
  min-width: 320px;
  font-family: "Lora", $font-family-base;
  background: #fff;
  font-size: 16px;
  @media #{$min-w-sm} {
    font-size: 18px;
  }
}

.header-page {
  font-size: 16px;
  background: $color-header-bg;
}

.page-footer {
  color: $color-white;
  background: $color-header-bg;
}

.navbar-fixed-top {
  @media #{$max-w-sm} {
    position: relative;
  }
}

// !main layouts

// home page

.home-bg-area {
  @media #{$min-w-sm} {
    position: relative;
    width: 100%;
    height: 840px;
    margin-bottom: 80px;
    overflow: hidden;
  }
}

.home-slider {
  @media #{$min-w-sm}{
    margin-bottom: 95px;
  }

  text-align: center;
}

.about-technology {
  margin-bottom: 60px;

  @media #{$min-w-sm} {
    margin-bottom: 100px;
  }
}

.industry-news {
  margin-bottom: 50px;

  @media #{$min-w-sm} {
    margin-bottom: 110px;
  }
}

// !home page


// inner page

.inner-bg-img {
  position: relative;
  text-align: center;

  margin-bottom: 40px;
  padding: 35px 0 5px;

  @media #{$min-w-sm} {
    padding: 10px 0 30px;
  }

  &.withImg { // for page with background image
    padding: 65px 0 150px;
    background: url("#{$path-img}inner/inner-area-bg.jpg") no-repeat center top;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(54, 48, 77, 0.5);
    }

    @media #{$min-w-sm} {
      padding: 80px 0 165px;
    }
  }
}

.about-technology-inner {
  margin-bottom: 40px;

  @media #{$min-w-sm} {
    margin-bottom: 100px;
  }
}

.inner-page-news {
  margin-bottom: 180px;

  @media #{$min-w-sm} {
    margin-bottom: 170px;
  }
}

// !inner page