
.btn-alvinesa {
  display: inline-block;
  padding: 15px 20px;
  margin-bottom: 20px;
  font-family: $font-family-Raleway-Light;
  color: $color-white;
  border: 2px solid $color-white;
  background: transparent;

  &:hover {
    color: $color-link-hover;
    border-color: $color-link-hover;
  }

  &.active {
    color: $color-header-bg;
    background: $color-white;

    &:hover {
      color: $color-white;
      background: $color-link-hover;
    }
  }
}

h1, h2, h3 {
  position: relative;
  margin-bottom: 25px;
  font-size: 20px;
  text-align: center;
  color: #36304d;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -21px;
    display: block;
    width: 42px;
    border-bottom: 2px solid;
  }

  @media #{$max-w-sm} {
    line-height: 1.3;
  }
}

h1, h3 {
  padding: 60px 0 0;
}

@media #{$min-w-sm} {
  h1, h2 {
    padding: 60px 0 0;
    font-size: 36px;
  }

  h3 {
    margin-bottom: 50px;
    font-size: 30px;
  }
}

.home-bg-area {
  video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .content {
    padding-bottom: 45px;
    text-align: center;
    color: $color-white;
    background: $color-header-bg;

    @media #{$min-w-sm} {
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 110px;
      background: rgba(54, 48, 77, 0.5);
    }
  }

  h2 {
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 22px;
    color: $color-white;
    &::before {
      content: none;
    }

    @media #{$min-w-sm} {
      margin-bottom: 40px;
      padding-top: 60px;
      font-size: 50px;
    }
  }

  h4 {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 1.4;

    span {
      text-decoration: underline;
    }

    @media #{$min-w-sm} {
      margin-bottom: 80px;
      font-size: 22px;

      span {
        display: inline-block;
        line-height: .95;
        border-bottom: 1px solid;
        text-decoration: none;
      }
    }

  }

  a {
    width: 210px;
    padding: 13px 15px;
    line-height: 30px;
    display: block;
    margin: 0 auto 10px;

    @media #{$min-w-sm} {
      width: 215px;
      padding: 15px 10px;
      margin-bottom: 20px;
    }
  }

  .btn-alvinesa {
    font-family: $font-family-Raleway-Light;

    @media #{$min-w-sm} {
      font-family: $font-family-Raleway-Bold;
    }
  }

  .btn-video-play {
    text-align: left;
    color: $color-menu-hover;
    font-family: $font-family-Raleway-Bold;
    border: 2px solid;
    cursor: pointer;
  }

  .play-icon {
    display: inline-block;
    width: 60px;
    margin-right: 30px;
    border-right: 1px solid $color-menu-hover;

    i {
      display: inline-block;
      position: relative;
      top: -1px;
      margin-left: 18px;
      border: solid transparent;
      border-width: 6px 10px;
      border-left-color: $color-menu-hover;
    }
  }
}

.home-slider {
  h3 {
    margin-bottom: 15px;
  }

  .description {
    font-family: $font-family-Raleway-Bold;
    color: $text-color;
  }

  .carousel {
    padding-top: 30px;

    /*@media #{$min-w-sm} {
      padding-top: 80px;
    }*/
  }

  .carousel-list {
    position: absolute;
    z-index: 6;
    bottom: 10px; //90px
    width: 100%;

    li {
      display: inline-block;
      padding: 5px 20px;
      cursor: pointer;

      a {
        position: relative;
        font-family: $font-family-Raleway-Light;
        font-size: 14px;
        color: #414141;

        &::before {
          content: '';
          position: absolute;
          top: -10px;
          left: 50%;
          margin-left: -6px;
          display: block;
          height: 1px;
          width: 12px;
          background: #999;
        }
      }

      &.active {
        a {
          &::before {
            top: -11px;
            left: 0;
            margin-left: 0;
            width: 100%;
            height: 2px;
            background: $color-link-hover;
          }
        }

      }
    }

    @media (max-width: $screen-lg) {
      bottom: 60px;

      li {
        padding: 5px 10px;
      }
    }

    @media (max-width: $screen-md) {
      bottom: 30px;

      li {
        padding: 5px;
      }
    }
  }
}

.about-technology {
  h3 {
    margin-top: 20px;

    @media #{$min-w-sm} {
      margin-top: 30px;
    }
  }

  h4 {
    padding-left: 19px;
    font-family: $font-family-Raleway-Bold;
    color: $text-color;
  }

  ul {
    @media #{$max-w-sm} {
      margin-bottom: 30px;
    }
  }

  @extend %list-alvinesa;
}

.bg-planet-map {
  @media #{$min-w-sm} {
    padding-top: 165px;
  }

  @media #{$max-w-sm} {
    background-size: 130%;
    background-position: center 50px;
  }

  padding-top: 10px;
  background: url("#{$path-img}home/exportamos.jpg") no-repeat;
  background-position: center 25px;

  h2 {
    padding-top: 75px;
  }

  .btn-alvinesa {
    color: $color-header-bg;
    border: 2px solid $color-header-bg;

    @media #{$max-w-sm} {
      width: 210px;
      padding: 10px 15px;
      display: block;
      margin: 0 auto 10px;
    }

    &:hover {
      color: $color-link-hover;
      border: 2px solid $color-link-hover;
    }

    &.active {
      color: $color-white;
      border-color: $color-header-bg;
      background: $color-header-bg;

      &:hover {
        border-color: $color-link-hover;
        background: $color-link-hover;
      }
    }
  }
}

.sales-department {
  @media #{$min-w-sm} {
    margin-top: 180px;
    padding-bottom: 90px;
  }

  margin-top: 75px;
  padding: 30px 20px 50px;
  border: 2px solid $color-header-bg;

  h2 {
    @media #{$max-w-sm} {
      padding-top: 0;
      margin-bottom: 35px;
      line-height: 1.4;
    }

    &::before {
      content: none;
    }
  }
}

.industry-news {
  color: $text-color-light;

  .title {
    display: inline-block;
    margin: 0 0 25px;
    font-size: 20px;
    color: $text-color;

    @media #{$min-w-sm} {
      margin: -6px 0 12px;
      font-size: 22px;
    }

    &:hover {
      color: $color-link-hover;
    }
  }

  .description {
    margin: 0 0 55px;
    line-height: 1.5;

    @media #{$min-w-sm} {
      line-height: 1.35;
    }
  }

  img {
    height: 225px;
    width: 100%;
    max-width: 290px;
    object-fit: cover;
    margin-bottom: 25px;

    @media #{$min-w-sm} {
      height: 205px;
      margin-bottom: 60px;
    }
  }

  @media #{$max-w-sm} {
    h3 {
      margin-bottom: 55px;
    }

    .title {
      line-height: 1.3;
    }
  }
}

.img-wrapper {
  text-align: center;
}

.news-banners {

  @media #{$max-w-sm} {
    img {
      margin-bottom: 30px;
    }
  }
}




