
$path-font: "../font/";
$path-img: "../img/";

$font-family-base: "Helvetica,'Helvetica Neue', Arial, sans-serif";
$font-family-Raleway-Light: "Raleway-Light", $font-family-base;
$font-family-Raleway-Bold: "Raleway-Bold", $font-family-base;

$color-header-bg: #36304d;
$color-link-hover: #b59410;
$color-menu-hover: #AC9845;
$color-menu-item-border: #453e5e;
$color-menu-active-bg: #2e2844;
$color-nav-underline: #595959;
$text-color-light: #777;
$color-white: #f3f3f4;

$max-w-sm: "(max-width: 768px)";

$min-w-sm: "screen and (min-width: 768px)";
$min-w-md: "screen and (min-width: 992px)";
$min-w-lg: "screen and (min-width: 1200px)";